<app-header></app-header>
<div class="container text-center mt-5">
    <div class="row">
        <div class="container text-center">
            <div class="row">
                <div class="img col-4 col-md-3">
                    <img [src]="'http://localhost:3000/'+user.photo" class="rounded-circle col-10">
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Update Photo
                    </button>
                    <!-- Modal -->
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Change photo</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="photo">up load your photo</label>
                                        <input type="file" name="photo" id="photo" class="form-control" #photo
                                            (input)="onselectedphoto($event)">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="close col-6" (click)="upload()">Done</button>

                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-6 text-left p-0">
                    <h1>{{user.Fname}} {{user.Lname}}</h1>&nbsp;&nbsp;&nbsp;
                    <!-- follower{{user.followers}}<br/>
               following {{user.following}} -->
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
                        data-target="#follower">{{user.followers.length}} Follower</button>
                    <!-- ***************************************** -->
                    <div id="follower" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title text-left">Follower</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <a [href]="['/profile/'+item]"
                                        *ngFor="let item of user.followers">{{item}}<br /></a>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>

                            </div>

                        </div>
                    </div>
                    <!-- ******************************************** -->
                    <button type="button" class="btn btn-info btn-lg mx-3" data-toggle="modal"
                        data-target="#following">{{user.following.length}}Following</button>
                    <!-- ***************************************** -->
                    <div id="following" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title text-left">Followeing</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <a [href]="['/profile/'+item]"
                                        *ngFor="let item of user.following">{{item}}<br /></a>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
                <div #addBlog class="col-2">
                    <!-- add blog -->
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#newBlog">Add Blog
                        +</button>
                    <div id="newBlog" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title text-left">New Blog</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="title">Title</label>
                                        <input type="text" name="title" id="title" class="form-control" required
                                            [(ngModel)]="newBlog.title">
                                        <label for="photo">Photo</label>
                                        <input type="file" name="photo" id="photo" class="form-control"
                                            (input)="onselect($event)" [(ngModel)]="newBlog.photo">
                                        <label for="tags">Tags</label>
                                        <input type="text" name="tags" id="tags" class="form-control"
                                            [(ngModel)]="newBlog.tags">
                                        <label for="body">Body</label>
                                        <textarea type="text" name="body" id="body" class="form-control" required
                                            [(ngModel)]="newBlog.body"></textarea>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <a href="/profile" action="/profile" class="btn close col-6"
                                        (click)="post()">Done</a>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <hr />
    <div class="container col-12">
        <div *ngFor="let item of blogs" class="row">
            <!-- <a routerLink="/blog">{{item.auther}}</a><br/> -->
            <div class="card mb-3 col-8 offset-2 border border-none">
                <div class="card-body p-2 text-left">
                    <div class="row">
                        <div class="col-8">
                            <div class="row">
                                <div class="col-8 col-md-3"><img [src]="'http://localhost:3000/'+user.photo"
                                        class="m-3 mt-3 rounded-circle col-12 mw-10"></div>
                                <div class="col-9 align-self-center">
                                    <a routerLink="/profile" class="card-link">{{user.Fname}} {{user.Lname}}</a>
                                    <p class="card-subtitle mb-2 mt-1 text-muted">Shared publicly - {{item.createdAt |
                                        date:'MMMM dd yyyy'}}</p><br />
                                </div>
                            </div>
                        </div>
                        <div class="col-4 text-right">
                            <button type="button" class="btn btn-info mx-2"
                                (click)="getdata(item.title,item.tags[0],item.body,item._id)" data-toggle="modal"
                                data-target="#editBlog"> <b> ...
                                </b></button>
                            <a href="/profile" class="btn btn-danger mx-2" (click)="deleteBlog(item._id)"> X </a>
                            <p *ngIf="item.updatedAt" class="card-subtitle mb-2 mt-1 text-muted"> Update At -
                                {{item.updatedAt | date:'MMMM dd yyyy'}}</p>

                        </div>
                    </div>
                    <div id="editBlog" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Edit Blog</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="title">Title</label>
                                        <input type="text" [value]="item.title" #title class="form-control" required
                                            [(ngModel)]="eBlog.title">
                                        <label for="tags">Tags</label>
                                        <input type="text" #tags class="form-control" [(ngModel)]="eBlog.tags">
                                        <label for="body">Body</label>
                                        <textarea type="text" [value]="item.body" #body class="form-control" required
                                            [(ngModel)]="eBlog.body"></textarea>
                                    </div>
                                </div>
                                <!-- ,title,tags,body -->
                                <div class="modal-footer">

                                    <a href="/profile" action="/profile" class="btn close col-6"
                                        (click)="editBlog()">Done</a>


                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>

                            </div>

                        </div>


                    </div>
                    <h5 class="card-title text-center">{{item.title}}</h5>
                    <p class="card-text text-center"><span *ngFor="let t of item.tags">{{t}}</span><br /></p>
                    <p class="card-text text-center">{{item.body}}</p>
                </div>
                <!-- <ul class="list-group list-group-flush">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul> -->
                <!-- <a href="#" class="card-link">Another link</a> -->
                <img class="card-img-bottom" [src]="'http://localhost:3000/'+item.photo" alt="Card image cap">
                <div>
                    <ngb-accordion #acc="ngbAccordion" class="col-md-4 text-right" style="margin-right: 15px;">
                        <ngb-panel [title]="[item.comments.length +' Comments']">
                            <span>{{item.comments.length}}</span> Comments
                            <ng-template ngbPanelContent>
                                <div class="card text-center col-12 " width="100%" *ngFor="let c of item.comments"
                                    style="background-color:  rgb(226, 226, 226); width: fit-content; border-radius: 30px 30px; padding: 10px;">
                                    <div class="m-1 form-inline">
                                        <div class="card-body  m-2">
                                            <h5 class="card-title profile">{{c.commenter}}</h5>
                                            <p class="card-text text-justify">{{c.body}}</p>
                                            <hr />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12"><input type="text" width="100%" name="Comment"
                                        class="commentinput" placeholder="Write a comment....." #addcomment>
                                    <input type="button" value="send" (click)="addComment(item._id,addcomment.value)">
                                </div>
                            </ng-template>

                        </ngb-panel>

                    </ngb-accordion>
                </div>
            </div>
            <!-- <div>
                <img [src]="'http://localhost:3000/'+user.photo" class="m-3 mt-3 rounded-circle col-2 mw-10">
                <a routerLink="/profile">{{user.Fname}} {{user.Lname}}</a> -->
            <!-- ************************** -->

            <!-- <button type="button" class="btn btn-info mx-2"
                    (click)="getdata(item.title,item.tags[0],item.body,item._id)" data-toggle="modal"
                    data-target="#editBlog"> <b> ...
                    </b></button>
                <a href="/profile" class="btn btn-danger mx-2" (click)="deleteBlog(item._id)"> X </a>
                <div id="editBlog" class="modal fade" role="dialog">
                    <div class="modal-dialog"> -->
            <!-- Modal content-->
            <!-- <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Edit Blog</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="text" [value]="item.title" #title class="form-control" required
                                        [(ngModel)]="eBlog.title">
                                    <label for="tags">Tags</label>
                                    <input type="text" #tags class="form-control" [(ngModel)]="eBlog.tags">
                                    <label for="body">Body</label>
                                    <textarea type="text" [value]="item.body" #body class="form-control" required
                                        [(ngModel)]="eBlog.body"></textarea>
                                </div>
                            </div> -->
            <!-- ,title,tags,body -->
            <!-- <div class="modal-footer">
    
                                <a href="/profile" action="/profile" class="btn close col-6" (click)="editBlog()">Done</a>
    
    
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
    
                        </div>
    
                    </div>
    
    
                </div> -->
            <!-- <p routerLink="/blog">{{item.title}}</p><br />
                <span *ngFor="let t of item.tags">{{t}}</span><br />
                <img *ngIf="item.photo" [src]="'http://localhost:3000/'+ item.photo"
                    style="height: 200px; width: 200px; "><br />
                <p class="text-justify ">{{item.body}}</p><br />
                <p>{{item.updatedAt}}</p><br />
                <p>{{item.createdAt}}</p><br /> -->
            <!-- add comment -->
            <!-- <ngb-accordion #acc="ngbAccordion" class="col-md-4 text-right" style="margin-right: 15px;">
                    <ngb-panel [title]="[item.comments.length +' Comments']">
                        <span>{{item.comments.length}}</span> Comments
                        <ng-template ngbPanelContent>
                            <div class="card text-center col-12 " width="100%" *ngFor="let c of item.comments"
                                style="background-color:  rgb(226, 226, 226); width: fit-content; border-radius: 30px 30px; padding: 10px;">
                                <div class="m-1 form-inline">
                                    <div class="card-body  m-2">
                                        <h5 class="card-title profile">{{c.commenter}}</h5>
                                        <p class="card-text text-justify">{{c.body}}</p>
                                        <hr />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12"><input type="text" width="100%" name="Comment" class="commentinput"
                                    placeholder="Write a comment....." #addcomment>
                                <input type="button" value="send" (click)="addComment(item._id,addcomment.value)">
                            </div>
                        </ng-template>
    
                    </ngb-panel>
    
                </ngb-accordion>
            </div> -->
            <hr />

        </div>
    </div>