<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Blogs</a>
  <form class="form-inline">
    <button class="btn btn-outline-success my-2 my-sm-0" type="button" routerLink="/login">Login</button>
    &nbsp;&nbsp;&nbsp;
    <button class="btn btn-outline-success my-2 my-sm-0" type="button" routerLink="/register">Sign Up</button>
  
  </form>
</nav>
<div class="container text-center col-6">
  <div *ngFor="let item of blogs" class="container text-center">
    <a href="/register">{{item.username}}</a><br />
    <a routerLink="/blog">{{item.title}}</a><br />
    <img [src]="'http://localhost:3000/'+ item.photo" style="height: 500px; width: 500px; "><br />
    <p>{{item.body}}</p><br />
    <p class="text-justify" routerLink="/blog">{{item.tags}}</p><br />
    <p routerLink="/blog">{{item.updatedAt}}</p><br />
    <p routerLink="/blog">{{item.createdAt}}</p><br />
    <hr />
  </div>
</div>























<router-outlet></router-outlet>